* {
	font-family: "freight-sans-pro-1","freight-sans-pro-2";
}

#logo div {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

#top_green {
	background-color: #80C99C;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 50px;
}

#top_green > div {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#top_green #p1 {
	font-size: 60px;
	color: white;
	font-weight: bold;
	text-align: center;
}

#top_green #p2 {
	margin-top: -25px;
	font-size: 48px;
	color: white;
	text-align: center;
}

.col_container {
	width: 960px;
	display: block;
	padding-top: 10px;
	padding-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}

.column {
	display: inline-block;
	width: 310px;
	margin-right: 10px;
}

.column_last {
	display: inline-block;
	width: 310px;
}

#graph_block > div {
	vertical-align: top;
}

canvas {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.graphimg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -143px;
	margin-bottom: 82px;
}

#investmentimg {
	margin-top: -135px;
	margin-bottom: 90px;
}

#graph_block p:last-of-type {
/*	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;*/
	margin-top: -20px;
}

.title {
	font-size: 43px;
	text-align: center;
	color: #333333;
}

hr {
	width: 25px;
	height: 3px;
	margin-top: -30px;
	margin-left: auto;
	margin-right: auto;
	color: #80C99C;
	background-color: #80C99C;
	border: none;
}

.textSC {
	font-size: 21px;
	font-variant: small-caps;
	text-align: center;
	color: #666666;
}

#graph_block span {
	font-variant: normal;
	font-weight: bold;
}

#deadlines_block {
	border-top: 2px dashed #b3b3b3;
	border-bottom: 2px dashed #b3b3b3;
	padding-bottom: 80px;
}

#deadlines_block > div {
	vertical-align: top;
}

div div div{	
	margin-top: -10px;
	margin-bottom: -15px; 
}

#deadlines div:first-of-type{
	border-radius: 5px;
	background-color: #80c99c;
	margin-top: 50px;
	margin-bottom: 25px;
}

#deadlines div:first-of-type .date_text {
	color: white;
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#deadlines div:first-of-type .text {
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

.date_text {
	display: inline-block;
	width: 70px;
	font-size: 21px;
	font-variant: small-caps;
	font-weight: bold;
	color: #80c99c;
	vertical-align: top;
	margin-right: 10px;
}

.text {
	display: inline-block;
	font-size: 21px;
	color: #666666;
	font-weight: 400;
}

#deadlines .text {
	width: 210px;
}

#news_feed div:first-of-type {
	margin-top: 50px;
	border-top: 2px dashed #b3b3b3;
	border-bottom: 2px dashed #b3b3b3;
}

#news_feed div:first-of-type .text{
	margin-top: 10px;
}

#news_feed div:first-of-type .date_text{
	margin-top: 10px;
}

#news_feed div{
	border-bottom: 2px dashed #b3b3b3;
}

#news_feed .text {
	width: 210px;
}

.author_text {
	margin-left: 85px;
	margin-top: -20px;
	margin-bottom: 10px;
	font-size: 21px;
	font-variant: small-caps;
	color: #b3b3b3;
}

#useful_links div:first-of-type {
	margin-top: 25px;
}

.col_container a {
	color: #80c99c;
}

#products_block > div {
	vertical-align: top;
}

#products_block > div div{
	vertical-align: top;
	margin-top: -10px;
	margin-bottom: -10px;
}

.bold_title {
	margin-bottom: 30px;
	font-size: 36px;
	font-weight: bold;
	color: #4d4d4d;
}

#products_block img {
	margin-left: 10px;
	padding-bottom: 2px;
}

.small_text {
	display: inline-block;
	margin-top: -10px;
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
	color: #b3b3b3;
}

#time_block {
	background-color: #80C99C;
	padding-top: 10px;
	padding-bottom: 25px;
	margin-left: -10px;
	margin-right: -10px;
}

.white_title {
	font-size: 43px;
	text-align: center;
	color: white;
}

#white_hr {
	color: white;
	background-color: white;
	margin-bottom: 25px;
}

.white_text {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: white;
}

#fields div {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 10px;
}

.small {
	background-color: white;
	border-radius: 5px;
	width: 70px;
}

.large {
	background-color: white;
	border-radius: 5px;
	width: 190px;
}

#add_button {
	background-color: #80c99c;
	border: 3px solid white;
	border-radius: 5px;
	margin-right: 0px;
}

#fields .text {
	margin-top: 0px;
	margin-bottom: 0px;
}

#add_button .white_text {
	margin-top: -1px;
	margin-bottom: -2px;
}

#fields {
	display: block;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

section.modal
{
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 166px;
	padding-bottom: 1700px;
	text-align: center;
}

section.modal > .content
{
	display: inline-block;
	width: 360px;
	background-color: #fff;
}


section.modal > .content
{
	padding: 43px;
}



fieldset
{
	border: none;
	margin: 10px 0;
	text-align: center;
}

fieldset.checkbox
{
	text-align: left;
}

label
{
	color: #666;
}

fieldset label:first-child
{
	display: block;
	margin: 8px 0;
}

.input-cage
{
	display: block;
	position: relative;
	z-index: 0;
	background-color: #f2f2f2;
	border-bottom: 2px solid #e6e6e6;
	border-right: 2px solid #e6e6e6;
}

input[type=text], input[type=password]
{
	padding: 5px;
	font-size: 20px;
	color: #333;
}

input[type=checkbox]
{
	display: none;
}

input[type=checkbox] + label::before
{
	content: "";
	display: inline-block;
	vertical-align: middle;
	background-image: url('/images/checkbox@2x.png');
	background-size: 25px 25px;
	width: 25px;
	height: 25px;
	margin-right: 8px;
}

input[type=checkbox]:checked + label::before
{
	background-image: url('/images/checkbox-checked@2x.png');
}

.input-cage::before, .checkbox-cage::before
{
	content: "";
	display: block;
	background-image: url('/images/input-plug-bottom-left@2x.png');
	background-size: 2px 2px;
	width: 2px;
	height: 2px;
	position: absolute;
	bottom: -2px;
	left: 0;
}

.input-cage::after, .checkbox-cage::after
{
	content: "";
	display: block;
	background-image: url('/images/input-plug-top-right@2x.png');
	background-size: 2px 3px;
	width: 2px;
	height: 3px;
	position: absolute;
	right: -2px;
	top: 0;
	z-index: -1;
}

.input-cage input
{
	width: 100%;
	background: none;
	border: none;
}

.input-cage [type=file]
{
	width: 0;
	height: 0;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus
{
	outline-color: #80C99C;
}

.button
{
	text-align: center;
}

.button a
{
	display: inline-block;
	position: relative;
	border-top: none;
	border-left: none;
	padding: 0 20px;
	line-height: 90px;
	vertical-align: middle;
	background-color: #80C99C;
	border-bottom: 6px solid #60A97C;
	border-right: 6px solid #60A97C;
	margin: 0;
	height: 90px;
	font-size: 28px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}


section .button a
{
	line-height: 54px;
	height: 54px;
	font-size: 17px;
	border-bottom-width: 4px;
	border-right-width: 4px;
	background-color: #80C99C;
}

section
{
	display: none;
	position: absolute;
	top: 180px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto;
	background-color: #fff;
	text-align: left;
}

.bar
{
	margin: 20px 0;
	background-image: url('/images/top-bar@2x.png');
	background-size: 1px 4px;
	background-repeat: repeat-x;
	background-position-y: 50%;
	text-align: center;
}

.bar span
{
	display: inline-block;
	padding: 15px;
	text-transform: uppercase;
	font-size: 20px;
	background-color: #43464c;
	color: #b3b3b3;
}

section .bar
{
	margin: 0;
	background-image: url('/images/bar@2x.png');
}

section .bar span
{
	background-color: white;
}

section > header
{
	display: block;
}